@import "bourbon";
@import "neat";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  h1 {
    color: white;
    border-bottom: 1px solid lightblue;
    @include linear-gradient(50deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #f00 100%);
  }
}

#main-container {
  #search-container {
    overflow: auto;
    input {
      width: 85%;
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    span {
      margin-left: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .search_results {
    text-align: center;
    margin-top: 4px;
    .search_result {
      padding: 6px;
      margin: 4px;
    }
  }
}

.main-layout {
  #top-container {
    #current-container {
    }
    #facets-container {
    }
  }
  #bottom-container {
    #similar-container {
    }
  }
}

.details-layout {
}
